    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">{{Hakkında}}</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">{{Geri bildirim gönder}}</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">{{Gizlilik}}</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">{{Şartlar}}</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; tr216.com 2020, {{All Rights Reserved.}}</p>
                </div>
            </div>
        </div>
    </footer>