<% 
    title='Onay kodu';
    hideLeftTopLogo=false;
%>
<%layout('../../_common/layout-general')%>
<form action="" method="post">
    <div class="row justify-content-md-center mt-2">
        <div class="col-md-12 module-title text-center">
            <i class="fas fa-user-lock"></i> <%=title%>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <% if ( typeof message!='undefined' ) { %>
        <div class="col-md-4">
            <div class="flash"><%= message %></div>
        </div>
        <% } %>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Kullanici adi:</label>
                <input class="form-control" placeholder="Kullanıcı adı" name="username" type="text" autocomplete="off" value="<%=form.username%>" readonly="true">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <div class="form-group">
                <label for="">Onay kodu:</label>
            <input class="form-control" placeholder="Onay kodu" name="authCode" type="text" autocomplete="off" value="<%=form.authCode%>" required="required">
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-3" style="max-width: 60%;">
            <button type="submit" class="btn btn-primary btn-block">Onayla</button>
        </div>
        <div class="col-md-1" style="max-width: 40%;">
            <a href="/login" class="btn btn-dark btn-block" title="Vazgeç"><i class="fa fa-reply"></i></a>
        </div>
    </div>
</form>
                   
