<%
    title='Bu bölüm henüz doğmadı';
    hideLeftTopLogo=false;
%>
<% layout('../_common/layout-general') %>

<div class="row justify-content-md-center mt-2">
    <div class="col-md-6 text-center">
        <img src="/images/tr216-square-200x200.png" style="max-height: 250px;max-width: 80%;">
    </div>
</div>

<div class="row justify-content-md-center mt-4">
    <div class="col-md-6 text-center">
        <img src="/images/underconstruction.png">
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-6 text-center">
       <h3><%=title%></h3>
    </div>
</div>