html {
  height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    /*background-color: #8940Bf;*/
    /*background-image: linear-gradient(#111111, #8940Bf);*/
    
}



.main-button {
    font-size: 16pt;
    color: #49007f;
    /* box-shadow: #00000070 3px 3px 10px 4px; */
    border-radius: 8px;
    margin: 8px;
    /* text-shadow: black 0px 0px 6px; */
    border: solid 1px #49007f;
}

.main-button i {
    font-size: 26pt;
    
}

/*.main-button a {
    color: #49007f;
    text-decoration: none;

}*/
.main-button a:hover {
    color: #69209f;
    text-decoration: none;

    
}
/*.main-button:hover {
   background-color: #77777740;
   cursor: pointer;
    
}*/

.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: #f2fe03d1;
    font-family: monospace;
    font-weight: bold;
    text-shadow: #0000009c 2px 2px 4px;
    font-size: 10pt;
}
.copyright:hover {
  color: #69209f;
  text-decoration: none;
}


@media (min-width: 576px) {

}


@media (max-width: 768px) {
  .copyright {
      position: relative;
      float: right;
      margin-top: 20px;
      margin-bottom: 20px;
  }
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) { 

}


.top-bar {
    position: relative;
    /*left: 0px;
    top: 0px;
    right: 0px;*/
    display: block;
    width: 100%;
    /*text-align: right;*/
    /*z-index: 11;*/
    /*padding: 10px;*/
    font-size: 12pt;
    /*background-color: #1d15229e;*/
}

.top-bar a {
    color: #49007f;
    text-decoration: none;

}
.top-bar a:hover {
    color: #69209f;
    text-decoration: none;

    
}

.container, .container-fluid {
    padding-left: 1.0rem;
    padding-right: 1.0rem;
}

.main-btn-col2 {
    max-width: 50%;
}

.login-button {
    color: #49007f;
    font-size: 14pt;
}

.module-title {
    font-size: 32pt;
    color: #49007f;
}